- name: Deploy to EC2
  hosts: localhost
  connection: local

  tasks:  
    - name: Gather EC2 information
      community.aws.ec2_instance_info:
        aws_access_key: 'ASIA4XWXIR5ZRT6XXD5I'
        aws_secret_key: 'hB1vqj/yom0TbWNNpoEQIf48WtuAmbiNlNnvOGQJ'
        security_token: 'FwoGZXIvYXdzEAoaDFnMkchV2rUlDzxgXyLFAYPsySH7xGTmYoF/a95R7oTIRgoL+I7NDNBX36bdzQdjNlJkYVbNSyx+gmbQ49Q1qnGyVr1sal/PZO1zYpdIV4gu0P+MnxSLj3rvFLeRywI3s3HhIsKSIw1tOiH0rfDBm2d7ABU3ILCUZFox/Dxn1q69pehVSGI4Vz+IWvm5cpdS4bzN8cP7ZyoHtRTrJiBiTdHYZwswTyQ0aR0vB8VB90YY9ZUbOrxf2v2B0O7BW/k2DW/oKe9q/L7g7/TSh3j0jbyATCgvKP3ihv8FMi3IZ0tbbS9meNpJoI0J3JOtK+GFSdCN2GWFrg+5vMCOjJNSgkLD2kWyQ7n3OVc='
        region: us-east-1
      register: ec2_info
      
    - name: Terminate running instances
      ec2:
        instance_ids: "{{item.instance_id}}"
        region: us-east-1
        state: absent
        aws_access_key: 'ASIA4XWXIR5ZRT6XXD5I'
        aws_secret_key: 'hB1vqj/yom0TbWNNpoEQIf48WtuAmbiNlNnvOGQJ'
        security_token: 'FwoGZXIvYXdzEAoaDFnMkchV2rUlDzxgXyLFAYPsySH7xGTmYoF/a95R7oTIRgoL+I7NDNBX36bdzQdjNlJkYVbNSyx+gmbQ49Q1qnGyVr1sal/PZO1zYpdIV4gu0P+MnxSLj3rvFLeRywI3s3HhIsKSIw1tOiH0rfDBm2d7ABU3ILCUZFox/Dxn1q69pehVSGI4Vz+IWvm5cpdS4bzN8cP7ZyoHtRTrJiBiTdHYZwswTyQ0aR0vB8VB90YY9ZUbOrxf2v2B0O7BW/k2DW/oKe9q/L7g7/TSh3j0jbyATCgvKP3ihv8FMi3IZ0tbbS9meNpJoI0J3JOtK+GFSdCN2GWFrg+5vMCOjJNSgkLD2kWyQ7n3OVc='
        wait: yes
      with_items: "{{ec2_info.instances}}"

    - name: Launch EC2 instance # Name of the task
      ec2: # Name of the command
        instance_type: t2.small
        image: ami-00ddb0e5626798373
        region: us-east-1
        key_name: test
        vpc_subnet_id: subnet-14860b4b
        assign_public_ip: 'yes'
        wait: 'yes'
        group: eshop
        count: 1
        aws_access_key: 'ASIA4XWXIR5ZRT6XXD5I'
        aws_secret_key: 'hB1vqj/yom0TbWNNpoEQIf48WtuAmbiNlNnvOGQJ'
        security_token: 'FwoGZXIvYXdzEAoaDFnMkchV2rUlDzxgXyLFAYPsySH7xGTmYoF/a95R7oTIRgoL+I7NDNBX36bdzQdjNlJkYVbNSyx+gmbQ49Q1qnGyVr1sal/PZO1zYpdIV4gu0P+MnxSLj3rvFLeRywI3s3HhIsKSIw1tOiH0rfDBm2d7ABU3ILCUZFox/Dxn1q69pehVSGI4Vz+IWvm5cpdS4bzN8cP7ZyoHtRTrJiBiTdHYZwswTyQ0aR0vB8VB90YY9ZUbOrxf2v2B0O7BW/k2DW/oKe9q/L7g7/TSh3j0jbyATCgvKP3ihv8FMi3IZ0tbbS9meNpJoI0J3JOtK+GFSdCN2GWFrg+5vMCOjJNSgkLD2kWyQ7n3OVc='
      register: ec2
      
    - name: Add instance host to group
      add_host: hostname={{ item.public_dns_name }} groupname=launched # Add all instances to the group name called LAUNCHED
      with_items: '{{ec2.instances}}' # For loop iterating over EC2 instances
     
    - name: Wait for SSH connection
      wait_for: host={{ item.public_dns_name }} port=22 delay=30 timeout=300 state=started
      with_items: '{{ec2.instances}}'

- name: Configure EC2
  hosts: launched
  connection: ssh

  tasks:
    - name: Install Docker
      apt: 
        name: docker.io
        state: present
        update_cache: yes
      become: yes # Become sudo

    - service:
        name: docker
        state: started
        enabled: yes
      become: yes

    - name: Get project file from GIT repository
      git:
        repo: 'https://github.com/simm10/4IT572_semestralka.git'
        dest: ./app # Create new folder app in root

    - name: Build docker image with eshop
      shell: cd app && docker build -t eshop:latest .
      become: yes

    - name: Run docker image with eshop
      shell: docker run -p 80:3000 eshop
      async: 81 # in seconds
      poll: 0 # in seconds
      become: yes
    - wait_for:
        port: 80
